<section class="search-page">
  <h1 class="search-page__header">Результаты поиска</h1>
  <md-select class="search-page__select" [(value)]="selected" (change)="search($event.value)">
    <md-option value>Все</md-option>
    <md-option value="wdesc">По словесному элементу</md-option>
    <md-option value="owner">По владельцу</md-option>
    <md-option value="document_number">По номеру документа</md-option>
  </md-select>
  <!-- Блок "Загрузка" Показывать, ЕСЛИ есть загрузка  -->
  <div class="search-page__loading" *ngIf="loading">
    <h2>Загрузка...</h2>
  </div>
  <!-- Блок "Ничего не найдено" Показывать, ЕСЛИ нет результатов поиска И нет ошибок соединения И нет загрузки  -->
  <div class="search-page__not-found" *ngIf="!searchResults?.length&&!connectLost&&!loading">
    <h2>Ничего не найдено</h2>
  </div>
  <!-- Блок "Сервер временно недоступен" Показывать, ЕСЛИ есть ошибки соединения И нет загрузки   -->
  <div class="search-page__connect-lost" *ngIf="connectLost&&!loading">
    <h2>Сервер временно недоступен</h2>
      <button md-raised-button (click)="reconnect()">Повторить</button>
  </div>
  <!-- Блок "Таблица результатов поиска" Показывать, ЕСЛИ  есть результаты поиска И нет ошибок соединения И нет загрузки  -->
  <div class="search-page__result-table" *ngIf="searchResults?.length&&!connectLost&&!loading">
    <table class="mdl-data-table stop-list table-bordered table-striped cf">
    <tbody>
      <tr>
        <th>
            Тип поиска
        </th>
        <th>
            Запрос
        </th>
        <th>
            Дата
        </th>
        <th>
            Найдено
        </th>
      </tr>
      <tr *ngFor="let searchResult of searchResults">
        <td>
          {{searchResult.search_type}}
        </td>
        <td>
          {{searchResult.search_string}}
        </td>
        <td>
          {{searchResult.search_start}}
        </td>
        <td>
          {{searchResult.found}}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</section>