.search-page__header,
.search-page__loading,
.search-page__not-found,
.search-page__connect-lost {
    color: #616161;
}
.search-page__select {
    min-width: 220px;
    margin-bottom: 30px;
}
.search-page__result-table {
    position: relative;
    margin-bottom: 1.5rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
table {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: rgb(255,255,255);
}
tr {
    position: relative;
    height: 48px;
    -webkit-transition-duration: 0.28s;
    transition-duration: 0.28s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
}
tr:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
td {
    position: relative;
    vertical-align: middle;
    height: 48px;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
}